*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left, rgb(162, 255, 32),rgb(118, 59, 255))
    
}
#timer{
    width: 600px;
    padding: 175px 40px;
    border: 5px solid red;
    text-align: center;
    background-image: linear-gradient(to top left, rgb(255, 32, 203,0.3),rgb(59, 213, 255,0.3));
    border-radius: 50%;
    font-size: 25px;
    font-weight: bolder;
}
#display{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
}
#display>div{
    height: 80px;
    width: 100px;
}
span{
    font-size: 15px;
    align-self: inherit;
}
button{
    margin: 20px;
    padding:0 10px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 700;
    border: 4px solid #ff1414;
}
.btnchng{
    color:rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: 4px solid rgb(255, 255, 255);
}
#change_theme>button{
    height: 40px;
    width: 120px;
    padding-bottom: 5px 5px;
}
#change_theme{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: large;
    font-weight: 900;
    width: 1000px;
}
#t2{
    background-color: rgb(255, 0, 0);
    border: 4px solid rgb(255, 255, 255);
}
#change_theme>button{
    width:150px;
}